@import "https://fonts.googleapis.com/css?family=Montserrat";
* body {
  margin: 0;

  }

.sidebyside{

      display: flex;
      flex-flow: row;
      height: 690px;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 40px;
  }

.aboutproject {
    height: 700px;
    width: 48%;
    border-width:2px;
    border-style:solid;
    border-color:black;
    margin: 15px;
  }

.aboutteam {
  flex-grow: 1;
  height: 700px;
  width: 48%;
  border-width:2px;
  border-style:solid;
  border-color:black;
  margin: 15px;
}

.member1,.member2,.member3{
  border-width:1px;
  border-style:solid;
  border-color:black;
  margin-top: 6px;
  margin-left:70px;
  margin-right:70px;
  text-align:center;
  padding-left:80px;
}

.member3{
  padding-left: 102px;
}

.aboutteam ul li{
  display: table-row;
}
li .pic1, .pic2, .pic3 {
    height: 80px;
    width: 80px;
    border-radius: 60%;
  }
h3 {
  text-align: center;
}

.abouttext{
  padding: 20px;
}

/*.aboutproject{
width:48%
}

.aboutteam{
width:48%
}*/

footer{
  border-top: solid black 3px;
  padding-top: 25px;
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 0%;
}
